* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 250px;
    height: 260px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

body {
    background-color: rgba(245, 245, 220, 0.774);
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;

}

.filho {
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 10px;
}

button {
            margin: top 20px;
            padding: 10px 20px;
            border: none;
            background: #4caf50;
            color: white;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
        }

        a{
            text-decoration: none;
        }
